class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

    def saludar(self):
        print(f"Hola, me llamo {self.nombre} y tengo {self.edad} años.")

persona1 = Persona("Ana", 30)
persona1.saludar()  # Output: Hola, me llamo Ana y tengo 30 años.

class Archivo:
    def __init__(self, nombre):
        self.nombre = nombre
        self.archivo = open(nombre, "w")
        print(f"Archivo {nombre} abierto.")

    def __del__(self):
        self.archivo.close()
        print(f"Archivo {self.nombre} cerrado.")

archivo = Archivo("ejemplo.txt")
# ...
del archivo  # Se ejecuta __del__
